
.shake{
  
}

body {

  background-color: black;
  font-family: Tahoma, Helvetica, Arial, sans-serif;;
  font-size: 18px;
  line-height: 1.7;
  margin: 3%;
  padding:3%;

}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 0px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 0px;

}

h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0 0 15px;
  padding: 0;
}

h1 {


  font-weight: normal;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
 /* border: 1px solid black ;*/
  font-size: 1em;
  font-weight: bold;
  background-color: #FFCC00;
  color: black;
  
/*  padding: 0;
  border-radius: 25px;*/
}

h2 {
  margin-top: 15%;
  border-bottom: 1px solid #7B4A12;
  font-size: 1.5em;

 font-weight: normal;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  /*margin: 15px 0;*/
}

ul {
  padding-left: 30px;
}
/* background stuff*/
div{
/*    background: linear-gradient(to bottom, #696969 , #A9A9A9);*/

  text-shadow: none;
  font-weight: normal;

  background-color: #DCDCDC;
  color: black;
  
}
button:active{
  border: 1px solid black;
}
button{
  margin: 0px;

}
.answers:active{

}
.answers{
    text-shadow: none;
    font-weight: normal;
    font-size: 20px;
    margin:1px;
    font-weight: bold;

    
/*    padding-top: 5px;
    padding-bottom: 5px;*/

}
#right:visited{
  background-color: green;
  color: green;

}
#right:active{
  background-color: green;
  color: green;

}

$('#right').click(function() {
    $(this).toggleClass('active');
});


#next:hover{
  background-color: #EBC137;
  border-color: #48110C;
}
#next{
  margin-top: 100px;
  border-top: 1px solid #7B4A12;
  color: #771E10;
  text-shadow:none;
  border-color: #E4F6F8;
  background-color: #E38C2D;
  -webkit-animation-name: shake-hard; -ms-animation-name: shake-hard; animation-name: shake-hard; -webkit-animation-duration: 100ms; -ms-animation-duration: 100ms; animation-duration: 100ms; -webkit-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease-in-out; -ms-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; -webkit-animation-delay: 0s; -ms-animation-delay: 0s; animation-delay: 0s; -webkit-animation-play-state: running; -ms-animation-play-state: running; animation-play-state: running; }
}
.nextq{
  width: 30%;

}

#left-col{
  background: transparent;
  position: absolute;
  left: ;
  top:73%;
  width: 42%;
  font-size: 20px;

}
#lastQ{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: normal;

  
}

#homeQ{
  padding-top: 12px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: normal;

  
}


#nextQ_5{
  padding-top: 12px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: normal;

  
}

#nextQ_4{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: normal;

  
}

#nextQ_3{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: normal;

  
}

#nextQ_2{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: normal;

  
}

#nextQ_1{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: normal;
}

#right-col{

  background: transparent;
  position: absolute;
  left: 50%;
  margin-left: 3%;
  top:73%;
  width: 42%;
}

#body-div{
   
   background-size: 100%;
  background-color: #DCDCDC;
  opacity: 50%;
  background-repeat: no-repeat;


padding: 0%;
  margin: 0%;
  }

#body{
   background: transparent;
/*   background-image: url("../images/road_damage.jpeg");
*/
    margin-top: 20%;
    height:100vh;

}
#header-div{
   background: transparent;

  padding: 0%;
  margin: 0%;
  
}
#progress{
  /*background-image: url("../progressbar/pgbq1.png");*/
   background: transparent;

  top:0%;
  left: 0%;
  position: absolute;
  width: 100%;
  text-align: center;
}

#homeHeader{
  /*background-image: url("../progressbar/pgbq1.png");*/

/*   background-image: url("../images/frontpage_earthquakesmall.png");
  background-position: center; */

   background: transparent;

  top:0%;
  left: 0%;
  position: absolute;
  width: 100%;
  text-align: center;
}

#imageDiv {
  margin-left: -21%;
  margin-right: 10%;
  margin-top: 0%;
  position: absolute;

  width: 130%;
  height: 50%;
  opacity: 10%;
  background-image: url("../images/frontpage_earthquakesmall.png");
  background-repeat: no-repeat;
  background-size: 100%;


}

.progressImg{
  width: 10px;
  margin: 1%;


}

#footer{
  position: absolute;
  top:90%;
  width: 100%;
}

#p2 {
  margin-bottom: 15%;
}



#bigone1{
  font-size: 20px;
  text-align: center;
  font-weight: bold;

}


#bigone2{
  line-height: 10%;
  font-size: 200%;
  font-weight: bolder;
  text-align: center;
}

#bigone3{
  font-size: 20px;
  text-align: center;
  font-weight: bold;

}